@model IEnumerable<IJPMvcApp.Models.Employee>

@{
    ViewData["Title"] = "ByjobId";
}
<div class="container">
<h1>Employess By JobId</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmpId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalExperience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalExperience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobId)
            </td>
         
        </tr>
}
        
    </tbody>
</table>
<div>
        <a asp-action="Index" class="btn btn-primary" style="margin-top: 15px;margin-bottom:15px" >Back to List</a>
</div>
</div>