@model IEnumerable<IJPMvcApp.Models.Employee>

@{
    ViewData["Title"] = "Index";
}
<div class="container">
<h1 style="text-align: center; font-weight:bold">Index</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">Create New Employee</a>

</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmpId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalExperience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalExperience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobId)
            </td>
            <td>
                        @Html.ActionLink("Edit", "Edit", new { empId = item.EmpId }, new { @class = "btn btn-primary" }) 
                        @Html.ActionLink("Details", "Details", new { empId = item.EmpId }, new { @class = "btn btn-primary" }) 
                        @Html.ActionLink("EmployeesByjobId", "ByjobId", new { jobId = item.JobId }, new { @class = "btn btn-primary" }) 
                        @Html.ActionLink("Delete", "Delete", new { empId = item.EmpId }, new { @class = "btn btn-primary" })
            </td>
        </tr>
}
    </tbody>
</table>
</div>

