@model IEnumerable<IJPMvcApp.Models.Skill>

@{
    ViewData["Title"] = "GetBySkillLevel";
}
<div class="container">
<h1>Skills By Level</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SkillId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkillName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkillLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkillCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SkillId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkillName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkillLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkillCategory)
            </td>
        </tr>
}
        

    </tbody>
</table>
    <a asp-action="Index" class="btn btn-primary" style="margin-top: 15px;margin-bottom:15px">Back to List</a>
</div>
