@model IEnumerable<IJPMvcApp.Models.Skill>

@{
    ViewData["Title"] = "Index";
}
<div class="container">
<h1 style="text-align: center; font-weight:bold">Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Skill</a>

</p>

    <table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SkillId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkillName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkillLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkillCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SkillId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkillName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkillLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkillCategory)
            </td>
            <td>
                        @Html.ActionLink("Edit", "Edit", new { skillId = item.SkillId }, new { @class = "btn btn-primary" }) 
                        @Html.ActionLink("Details", "Details", new { skillId = item.SkillId }, new { @class = "btn btn-primary" }) 
                        @Html.ActionLink("GetBySkillCategory", "GetBySkillCategory", new { skillCategory = item.SkillCategory }, new { @class = "btn btn-primary" }) 
                        @Html.ActionLink("GetBySkillLevel", "GetBySkillLevel", new { skillLevel = item.SkillLevel }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Delete", "Delete", new { skillId = item.SkillId }, new { @class = "btn btn-primary" })




                    </td>
        </tr>
}
    </tbody>
</table>
</div>