

@{
    ViewData["Title"] = "Interanl Job Portal";
}



<div class="hero-section">
    <h1 class="display-4"> Internal Job Portal</h1>
    <p class="lead">Your Dream Job is Waiting</p>
</div>

<section class="sec">
    <div class="container1">
        <div class="card-container">
            <div class="card">
                <a href="@Url.Action("Index", "Job")"  style="color:aliceblue">
                    <img src="~/images/job.jpg" alt="Job Logo" class="card-logo">
                    <h3 style="color:#3c5881; font-weight:bold">Jobs</h3>
            </div>
            <div class="card">
                <a href="@Url.Action("Index", "Skill")" style="color:aliceblue">
                    <img src="~/images/Skill.jpg" alt="Skill Logo" class="card-logo">
                    <h3 style="color:#3c5881; font-weight:bold">Skills</h3>
                </a>
            </div>
            <div class="card">
                @* <p>Short description of the Employee.</p> *@
                <a href="@Url.Action("Index", "Employee")" style="color:aliceblue">
                    <img src="~/images/Employee.jpg" alt="Employee Logo" class="card-logo">
                    <h3 style="color:#3c5881; font-weight:bold">Employees</h3>
                </a>
            </div>
            <div class="card">
                <a href="@Url.Action("Index", "JobSkill")" style="color:aliceblue">
                    <img src="~/images/9y0z7vkr.png" alt="JobSkill Logo" class="card-logo">
                    <h3 style="color:#3c5881; font-weight:bold">Job Skill</h3>
                    <p font-size:15px >Find the skills required for your job</p>
                </a>
            </div>
            
            <div class="card">
                <a href="@Url.Action("Index", "EmployeeSkill")" style="color:aliceblue">
                    <img src="~/images/jobskill1.jpg" alt="EmployeeSkill Logo" class="card-logo">
                    <h3 style="color:#3c5881; font-weight:bold">Employee Skill</h3>
                    <p font-size:15px>Add Your Skills</p>
                </a>
            </div>
            <div class="card">
                <a href="@Url.Action("Index", "JobPost")" style="color:aliceblue">
                    <img src="~/images/JobPost.jpg" alt="JobPost Logo" class="card-logo">
                    <h3 style="color:#3c5881; font-weight:bold">Job Post</h3>
                    <p style="font-size:15px">Check Job Openings</p>
                </a>
            </div>

        </div>
    </div>
</section>

<footer class="footer">
    <p>&copy; @DateTime.Now.Year AllCloud. All rights reserved.</p>
</footer>


