@model IEnumerable<IJPMvcApp.Models.JobSkill>

@{
    ViewData["Title"] = "Index";
}
@*<div class="container">
    <h2 class="text-center">Index</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>JobId</th>
                <th>SkillId</th>
                <th>Experience</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.JobId</td>
                    <td>@item.SkillId</td>
                    <td>@item.Experience</td>
                </tr>
            }
        </tbody>
    </table>
</div>*@
<h1 style="text-align: center; font-weight:bold">Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>

</p>
<div class="container">
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkillId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experience)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkillId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Experience)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { jobId=item.JobId,skillId=item.SkillId }) |
                    @Html.ActionLink("Details", "Details", new { jobId = item.JobId, skillId = item.SkillId }) |
                    @Html.ActionLink("Delete", "Delete", new { jobId = item.JobId, skillId = item.SkillId })
            </td>
        </tr>
}
    </tbody>
</table>
</div>