@model IEnumerable<IJPMvcApp.Models.ApplyJob>

@{
    ViewData["Title"] = "Index";
}
<div class="container">
<h1 style="text-align: center; font-weight:bold">Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Apply Job</a>

</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PostId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppliedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PostId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppliedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationStatus)
            </td>
            <td>
                        @Html.ActionLink("Edit", "Edit", new { postId = item.PostId, empId = item.EmpId }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Details", "Details", new { postId = item.PostId, empId = item.EmpId }, new { @class = "btn btn-primary" }) 
                        @Html.ActionLink("By PostId", "ByPostId", new { postId = item.PostId, }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("By EmpId", "ByEmpId", new { empId = item.EmpId }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Delete", "Delete", new { postId = item.PostId, empId = item.EmpId }, new { @class = "btn btn-primary" })
            </td>
        </tr>
}
    </tbody>
</table>
</div>